<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let Worker" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    
    <mat-chip-list aria-label="Fish selection">
        <mat-chip
        [selected]="Worker.role === 'Employee' || Worker.role === 'Manager'"
        [color]="Worker.role !== 'Manager' ? 'accent' : 'primary'"
        (click)="editWorker.emit(Worker.empNo)">{{ Worker.role }}</mat-chip>
        &nbsp;&nbsp;&nbsp;{{ Worker.empNo }} &nbsp;-&nbsp; {{ Worker.name }} {{ Worker.surname }} &nbsp;&nbsp;&nbsp;
      <strong>{{ Worker.birthDate | date: "d-MM-y" }}</strong> &nbsp;&nbsp;&nbsp;
      <span style="color: rgb(88, 231, 22)">
        {{ Worker.salary | currency: "R" }}
        </span>
    </mat-chip-list>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'toggle ' + node.name"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip
        [color]="node.role !== 'Manager' ? 'accent' : 'primary'"
        selected
        (click)="editWorker.emit(node.empNo)"
        > {{ node.role }} </mat-chip> &nbsp;&nbsp;&nbsp;
        {{ node.empNo }} &nbsp;-&nbsp; {{ node.name }} {{ node.surname }} &nbsp;&nbsp;&nbsp;

        <strong>{{ node.birthDate | date: "d-MM-y" }} &nbsp;&nbsp;&nbsp;</strong>
      <span style="color: rgb(88, 231, 22)">
        {{ node.salary | currency: "R" }}
      </span>
    </mat-chip-list>
    <br />
  </mat-tree-node>
</mat-tree>
