<mat-drawer-container class="example-container" hasBackdrop="false">
  <mat-drawer #drawer [mode]="'push'" [opened]="width >= 960">
    <img class="logo" src="../assets/epiuse.png" />
    <mat-accordion>
      <!-- Form that contains the earch values -->
      <form [formGroup]="formSearch">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Search
            </mat-panel-title>
            <mat-panel-description>
              Find a user in the system
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field appearance="outline">
            <mat-label>Search for name or surname</mat-label>
            <!-- ask about this -->
            <input
              formControlName="searchField"
              matInput
              id="myTextBox"
              placeholder="Name or Surname"
            />
          </mat-form-field>

          <!-- <br />
          <mat-form-field>
            <input
              matInput
              formControlName="searchBirthDate"
              [matDatepicker]="searchPicker"
              placeholder="Choose a filter date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="searchPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #searchPicker></mat-datepicker>
          </mat-form-field> -->

          <mat-list *ngIf="workerObservable | async as worky">
            <mat-list-item *ngFor="let person of worky">
              <h3 matLine>Name: {{ person.name }} {{ person.surname }}</h3>
              <p matLine>Role: {{ person.role }}</p>
              <p matLine>Employee No: {{ person.empNo }}</p>
              <p matLine>
                Birth Date: {{ person.birthDate | date: "dd-MM-y" }}
              </p>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </form>

      <!-- Form for adding a new user -->
      <form [formGroup]="formAdd">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Add
            </mat-panel-title>
            <mat-panel-description>
              Add a user to the system
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input
              matInput
              formControlName="fname"
              placeholder="First name"
              required
            />
          </mat-form-field>

          <br />
          <mat-form-field>
            <input
              matInput
              formControlName="sname"
              placeholder="Surname"
              required
            />
          </mat-form-field>

          <br />
          <mat-form-field>
            <input
              matInput
              formControlName="birthDate"
              [matDatepicker]="picker"
              placeholder="Choose a date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <br />
          <mat-form-field>
            <input
              matInput
              formControlName="empNo"
              placeholder="Employee Number"
              required
            />
          </mat-form-field>

          <br />
          <mat-form-field>
            <input
              matInput
              formControlName="salary"
              placeholder="Salary"
              required
            />
          </mat-form-field>

          <br />
          <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select formControlName="role" required>
              <mat-option value="Manager">Manager</mat-option>
              <mat-option value="Employee">Employee</mat-option>
              <mat-option value="Trainee">Trainee</mat-option>
            </mat-select>
          </mat-form-field>

          <br />
          <mat-form-field>
            <input
              matInput
              formControlName="reportsTo"
              placeholder="Reports to ID"
              required
            />
          </mat-form-field>
          <br />
          <button mat-raised-button (click)="createUser()">Add User</button>
        </mat-expansion-panel>
      </form>

      <!-- Form for editing some of the users details -->
      <form [formGroup]="formEdit">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Edit
            </mat-panel-title>
            <mat-panel-description>
              Edit User Details
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input
              matInput
              formControlName="fname"
              placeholder="First name"
              required
            />
          </mat-form-field>

          <br />
          <mat-form-field>
            <input
              matInput
              formControlName="sname"
              placeholder="Surname"
              required
            />
          </mat-form-field>

          <br />
          <mat-form-field>
            <input
              matInput
              formControlName="birthDate"
              [matDatepicker]="editPicker"
              placeholder="Choose a date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="editPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #editPicker></mat-datepicker>
          </mat-form-field>

          <br />
          <mat-form-field>
            <input
              matInput
              formControlName="empNo"
              placeholder="Employee Number"
              required
            />
          </mat-form-field>

          <br />
          <mat-form-field>
            <input
              matInput
              formControlName="salary"
              placeholder="Salary"
              required
            />
          </mat-form-field>

          <br />
          <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select formControlName="role" required>
              <mat-option value="Manager">Manager</mat-option>
              <mat-option value="Employee">Employee</mat-option>
              <mat-option value="Trainee">Trainee</mat-option>
            </mat-select>
          </mat-form-field>

          <br />
          <mat-form-field>
            <input
              matInput
              formControlName="reportsTo"
              placeholder="Reports to ID"
              required
            />
          </mat-form-field>
          <br />
          <button mat-raised-button (click)="saveUser()">Save</button>
        </mat-expansion-panel>
      </form>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content>
    <button mat-raised-button (click)="drawer.toggle()">Show Menu</button>
    <!-- Points to different file for tree display of employee structure -->
    <mat-list>
      <h4>Highest Earners</h4>
      <span>
        <mat-list-item>
          {{ topMan.name }} {{ topMan.surname }}
          <br />
          {{ topMan.role }}
          <br />
          {{ topMan.birthDate | date: "d-M-y" }}
          <br />
          {{ topMan.salary | currency: "R" }}
        </mat-list-item>
        <br><br>
        <mat-list-item>
          {{ topEmp.name }} {{ topEmp.surname }}
          <br />
          {{ topEmp.role }}
          <br />
          {{ topEmp.birthDate | date: "d-M-y" }}
          <br />
          {{ topEmp.salary | currency: "R" }}
        </mat-list-item>
        <br><br>
        <mat-list-item>
          {{ topTrain.name }} {{ topTrain.surname }}
          <br />
          {{ topTrain.role }}
          <br />
          {{ topTrain.birthDate | date: "d-M-y" }}
          <br />
          {{ topTrain.salary | currency: "R" }}
        </mat-list-item>
      </span>
    </mat-list>
    <br />
    <br />
    <app-worker-tree
      [workers]="workers"
      (editWorker)="editUser($event)"
    ></app-worker-tree>
  </mat-drawer-content>
</mat-drawer-container>
