.example-container {
  width: 100%;
  height: 100%;
}

mat-drawer{
  width:500px;

  img.logo {
    width: 80%;
    padding: 10%;
  }
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
